@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager
@model IEnumerable<IdentityRole>


@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "Lista as Roles";
}


<h1>Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-warning glow font-weight-bolder mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">Nova Role</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                @*<a href="#" class="btn btn-success">Editar</a>
                <a asp-action="EditRole" asp-controler="Admin" asp-route-id="@role.Id" class="btn btn-success">Editar</a>
                <a href="#" class="btn btn-danger">Deletar</a>*@
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <a asp-action="EditRole" asp-controler="Admin" asp-route-id="@role.Id" class="btn btn-primary">Editar</a>
                    <span id="confirmaDeleteSpan_@role.Id" style="display:none"><span>Deseja deletar esta role ?</span>
                        <button type="submit" class="btn btn-danger">Sim</button>
                        <a href="#" class="btn btn-primary" onclick="confirmaDelete('@role.Id', false)">Não</a>
                    </span>
                    <span id="deleteSpan_@role.Id"><a href="#" class="btn btn-danger" onclick="confirmaDelete('@role.Id', true)">Deletar</a></span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Não existem roles
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use o botão abaixo para criar uma role
            </h5>
            <a class="btn btn-success" style="width:auto" asp-controller="Admin" asp-action="CreateRole">Criar Role</a>
        </div>
    </div>
}

<hr />
<h5>Lista das Roles</h5>
<div class="card card-body">
    <div class="table-responsive">
        <table id="table-xs" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td><a href="@Url.Action("Details","Grupo",new { id=item.Id })">@Html.DisplayFor(modelItem => item.Id)</a></td>
                    <td><a href="@Url.Action("Details","Grupo",new { id=item.Id })">@Html.DisplayFor(modelItem => item.Id)</a></td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

